.popup {
  visibility: hidden;
  opacity: 0;
  position: absolute; /* or relative or fixed*/
  z-index: 1000;
}

.popup--active {
  visibility: visible;
  opacity: 1;
  display: block;
}

.popup--consultation {
  /* top: ; */ /*  doesnt work! change inside js!*/
  width: 317px;
  height: 160px;
  padding: 0 10px 24px 16px;
  border-radius: 8px;
  color: #333;
  font-size: 14px;
  background: #fff;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.08), 0 2px 12px 0 rgba(0, 0, 0, 0.08);
}

.popup__wrapper {
  display: flex;
  flex-direction: column;
}

.popup__close {
  display: flex;
  justify-content: flex-end;
  padding: 10px 0 0 0;
  color: #8593a5;
}

.popup__close svg {
  cursor: pointer;
}

.popup__title {
  font: 600 20px / 28px "SBSansDisplay", sans-serif;
  color: #262626;
  line-height: 1.3;
  margin: 0;
  transform: scaleX(1.05);
  transform-origin: left center; /* ✅ оставляет начало строки на месте */
  display: inline-block; /* ⬅️ нужен для transform */
}

.popup__highlight {
  font: 700 20px/28px "SBSansDisplay", sans-serif;
  background-image: linear-gradient(133.28deg, #6bbd3f 10.67%, #209a73 55.57%, #0276a2 83.11%);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}

.popup__note {
  font: 400 15px/20px SBSans, sans-serif;
  color: #737476;
  margin-top: 10px;
  letter-spacing: 0.2px;
  transform: scaleX(1.05);
  transform-origin: left center; /* ✅ оставляет начало строки на месте */
  display: inline-block; /* ⬅️ нужен для transform */
}

.popup__note a {
  color: #007bff;
}

@media (max-width: 768px) {
  .popup--consultation {
    width: 290px;
    padding: 0 10px 18px 16px;
  }
  .popup__title {
    font-size: 18px;
  }
  .popup__highlight {
    font-size: 18px;
  }
  .popup__note {
    font-size: 14px;
  }
}
