---
- name: Create dirs/files on remote_vm
  file:
    path: "{{ item }}"
    state: directory
    mode: '0755'
  loop:
    - "{{ docker_build_path }}"
    - "{{ secret_admin_dir }}"
    - "{{ secret_ops_dir }}"
    - "{{ secret_dev_dir }}"
    - "{{ secret_prod_dir }}"

- name: Copy root.crt to docker build context (for database connection)
  copy:
    src: /root/.postgresql/root.crt
    dest: "{{ docker_build_path }}/root.crt"
    mode: '0644'
  delegate_to: localhost

- name: Send Docker build context to remote host # {work_dir}/projects/{app}/{service}
  synchronize:
    src: "{{ docker_build_path }}/"
    dest: "{{ docker_build_path }}"
    mode: push
    recursive: yes
    rsync_opts:
      - "--delete"
  delegate_to: localhost  

- name: SEND SECRETS
  block:
      - name: DEFAULT
        block:
                  - name: Create env secret file
                    copy:
                      src: "{{ secret_env_file }}"
                      dest: "{{ remote_env_file }}"
                      mode: '0644'
                      force: true


- name: Allow talking between service directly by consul-dns without nginx upstreams
  block:

      - name: Install dnsmasq
        apt:
          name: dnsmasq
          state: present
          update_cache: yes
      
      - name: Ensure the systemd resolved config directory exists
        file:
          path: /etc/systemd/resolved.conf.d
          state: directory
          mode: '0755'

      - name: Configure dnsmasq for Consul and fallback yandex resolver(10.10.2.2)
        copy:
          dest: /etc/dnsmasq.d/consul
          content: |
            server=/service.consul/127.0.0.1#8600
            server=10.10.2.2
            listen-address=127.0.0.1
            bind-interfaces
            no-resolv
            log-queries
            log-facility=/var/log/dnsmasq.log

      - name: Restart dnsmasq
        systemd:
          name: dnsmasq
          state: restarted
          enabled: true

      - name: Configure systemd-resolved for Consul domain
        copy:
          dest: /etc/systemd/resolved.conf.d/consul.conf
          content: |
            [Resolve]
            DNS=127.0.0.1
            Domains=~service.consul

      - name: Restart systemd-resolved
        systemd:
          name: systemd-resolved
          state: restarted

- name: Build + Run Docker container
  block:
      - name: Build Docker image
        docker_image:
          name: "{{ image_name }}"
          build:
            path: "{{ docker_build_path }}"
          source: build
          force_source: true
          force_tag: true  


      - name: Launch/Relaunch Docker container
        docker_container:
          name: "{{ container_name }}"
          image: "{{ image_name }}"
          state: started
          restart_policy: always
          env_file: "{{ remote_env_file }}"
          ports:
            - 8000:8000
          recreate: yes
          network_mode: host
          dns_servers:
            - 127.0.0.1
            - 8.8.8.8
          dns_search_domains:
            - service.consul