# dependencies:
#   - app: autoscale
#     service: nginx
#     subservice: consul_server
#     wait: false

---
- name: Deploy website with loadbalancing
  hosts: all
  become: true
  roles:
    - docker_install
    - consul_agent                        # for gateway to call static nginx with nginx.service.consul. CDN will be accessed through apigw too
    - website_deploy

                                          # Consul_nginx_configure is not necessary here and inside /projects, cause of GatewayAPI