# use_subservice_infra: false

# Avoid marking deploy_status=true without consul_server to be deployed
---
- name: Deploy fastapi backend
  hosts: all
  become: true
  roles:
    - docker_install
    - role: consul_agent
      vars:
        consul_server_group: "env_dev__app_home__service_nginx" # where consul_server is located
    - fastapi
    - save_successful_hosts
    - consul_dns_enable                                         # for promtail be able see loki + for prometheus be able see node-exporters
    - role: monitoring
      vars:
        enable_promtail: true
        enable_node_exporter: true
        


