# This code will be deployed on service-level. Inherit is used to avoid deploying this playbook with default flow terragrunt > ansible

# inherit_subservice: false

- name: Deploy fastapi backend
  hosts: all
  become: true
  roles:
    - docker_install
    - consul_agent
    - fastapi