# use_subservice_infra: false

# Avoid marking deploy_status=true without consul_server to be deployed
---
- name: Deploy fastapi backend
  hosts: all
  become: true
  roles:
    - docker_install
    - consul_agent
    - fastapi
    - save_successful_hosts

