- name: Store successful hosts(without fail) to file
  local_action:
    module: copy
    content: "{{ ansible_play_hosts | join('\n') }}"
    dest: "{{ work_dir }}/successful_hosts.txt"
  run_once: true

- name: Print current working directory
  command: pwd