- name: Store successful hosts(without fail) to file
  local_action:
    module: copy
    content: "{{ ansible_play_hosts | join('\n') }}"
    dest: "{{ work_dir }}/successful_hosts.txt"
  run_once: true

- name: Save inventory to file
  local_action:
    module: copy
    content: "{{ ansible_play_hosts_all | join('\n') }}"
    dest: "{{ work_dir }}/all_hosts.txt"
  run_once: true
    

- name: Output successful host names
  shell: cat {{ work_dir }}/successful_hosts.txt && cat {{ work_dir }}/all_hosts.txt