# dependencies:
#   - app: autoscale
#     service: nginx
#     subservice: consul_server
#     wait: false

---
- name: Deploy website with loadbalancing
  hosts: all
  become: true
  vars:
    upstream_name: fastapi_instance_group
    upstream_location_name: fastapi
    service_name: fastapi_instance_group                       # for dns-service-name.
    consul_server_group: env_dev__app_autoscale__service_nginx # where consul_server is located
    consul_dns_for_upstream: true                              # one dns or many internal_ip_addresses of service' vms

  roles:
    - docker_install
    - website_deploy
    - consul_nginx_configure