---
- name: Deploy website with loadbalancing
  hosts: all
  become: true
  vars:
    service_name: fastapi_instance_group # for upstream 
  roles:
    - docker_install
    - website_deploy
    - consul_nginx_configure

   