- name: Install docker-compose
  get_url:
    url: https://github.com/docker/compose/releases/download/v2.34.0/docker-compose-linux-x86_64
    dest: /usr/local/bin/docker-compose
    mode: 'u+x,g+x'

- name: Change docker-compose-file ownership, group
  file:
    path: /usr/local/bin/docker-compose
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
