- name: Check if Consul is already installed
  stat:
    path: /usr/local/bin/consul
  register: consul_installed

- name: Download Consul server
  get_url:
    url: "https://releases.hashicorp.com/consul/{{ consul_version }}/consul_{{ consul_version }}_linux_amd64.zip"
    dest: "/tmp/consul.zip"
  when: not consul_installed.stat.exists

- name: Install binary
  unarchive:
    src: "/tmp/consul.zip"
    dest: "/usr/local/bin/"
    remote_src: yes
    mode: 0755
  when: not consul_installed.stat.exists

- name: Create Consul config directory
  file:
    path: /etc/consul.d
    state: directory

- name: Start Consul in server mode
  shell: |
    nohup consul agent -server -bootstrap-expect=1 \
      -bind={{ consul_bind_ip }} \
      -data-dir=/opt/consul \
      -ui \
      -config-dir=/etc/consul.d > /tmp/consul-server.log 2>&1 &
  args:
    creates: /opt/consul