---
- name: Create Consul data and config directories
  file:
    path: "{{ item }}"
    state: directory
    owner: root
    group: root
    mode: '0755'
  loop:
    - /opt/consul/data
    - /opt/consul/config

# - name: Create docker network for consul
#   docker_network:
#     name: consul
#     state: present

- name: Run Consul server in Docker
  docker_container:
    name: consul_server
    image: "hashicorp/consul:{{ consul_version }}"
    state: started
    restart_policy: always
    recreate: yes
    command: >
      agent -server -bootstrap-expect=1
      -ui
      -client=0.0.0.0
      -bind=0.0.0.0
      -advertise={{ ansible_host }}
      -data-dir=/consul/data
      -config-dir=/consul/config
    ports:
      - "8500:8500"
      - "8300:8300"
      - "8301:8301"
      - "8301:8301/udp"
      - "8302:8302"
      - "8302:8302/udp"
      - "8600:8600"
      - "8600:8600/udp"
    volumes:
      - /opt/consul/data:/consul/data
      - /opt/consul/config:/consul/config
    # networks:
    #   - name: consul
    network_mode: host