---
- name: Create consul-template directories
  file:
    path: "{{ item }}"
    state: directory
    owner: root
    group: root
    mode: '0755'
  loop:
    - /opt/consul-template/config
    - /opt/consul-template/templates
    - /opt/consul-template/output


- name: Add consul-template upstream file (IP-based via .Address)
  copy:
    dest: "/opt/consul-template/templates/{{ item.upstream_name }}-nginx-ip-upstream.ctmpl"
    content: |
      {{ '{{' }} $svc := service "{{ item.service_name }}" {{ '}}' }}
      upstream {{ item.upstream_name }}_upstream {
        {{ '{{' }} if gt (len $svc) 0 {{ '}}' }}
          {{ '{{' }} range $svc {{ '}}' }}
            server {{ '{{' }} .Address {{ '}}' }}:{{ '{{' }} .Port {{ '}}' }};
          {{ '{{' }} end {{ '}}' }}
        {{ '{{' }} else {{ '}}' }}
            server 127.0.0.1:65535; # dummy fallback
        {{ '{{' }} end {{ '}}' }}
      }
  loop: "{{ services }}"

- name: Add consul-template upstream file (DNS-based via service.consul)
  copy:
    dest: "/opt/consul-template/templates/{{ item.upstream_name }}-nginx-dns-upstream.ctmpl"
    content: |
      upstream {{ item.upstream_name }}_upstream {
             server {{ item.service_name }}.service.consul;
      }
  loop: "{{ services }}"

- name: "[CANARY] Override IP upstream with weighted version"
  when: item.canary_enabled | default(false)
  copy:
    dest: "/opt/consul-template/templates/{{ item.upstream_name }}-nginx-ip-upstream.ctmpl"
    content: |
      {{ '{{' }} $svc := service "{{ item.service_name }}" {{ '}}' }}
      {{ '{{' }} $current    := or (key (print "deploy/{{ item.service_name }}/current_version")) "" {{ '}}' }}
      {{ '{{' }} $candidate  := or (key (print "deploy/{{ item.service_name }}/candidate_version")) "" {{ '}}' }}
      {{ '{{' }} $stable_w   := or (key (print "deploy/{{ item.service_name }}/stable_weight")) "100" {{ '}}' }}
      {{ '{{' }} $canary_w   := or (key (print "deploy/{{ item.service_name }}/canary_weight")) "0" {{ '}}' }}
      upstream {{ item.upstream_name }}_upstream {
        {{ '{{' }} if gt (len $svc) 0 {{ '}}' }}
          {{ '{{' }} range $svc {{ '}}' }}
            {{ '{{' }} $isStable := false {{ '}}' }}
            {{ '{{' }} $isCanary := false {{ '}}' }}
            {{ '{{' }} range .ServiceTags {{ '}}' }}
              {{ '{{' }} if eq . (print "version=" $current) {{ '}}' }}{{ '{{' }} $isStable = true {{ '}}' }}{{ '{{' }} end {{ '}}' }}
              {{ '{{' }} if and (ne $candidate "") (eq . (print "version=" $candidate)) {{ '}}' }}{{ '{{' }} $isCanary = true {{ '}}' }}{{ '{{' }} end {{ '}}' }}
            {{ '{{' }} end {{ '}}' }}
            {{ '{{' }} if $isStable {{ '}}' }}
              server {{ '{{' }} .Address {{ '}}' }}:{{ '{{' }} .Port {{ '}}' }} weight={{ '{{' }} $stable_w {{ '}}' }};
            {{ '{{' }} else if $isCanary {{ '}}' }}
              server {{ '{{' }} .Address {{ '}}' }}:{{ '{{' }} .Port {{ '}}' }} weight={{ '{{' }} $canary_w {{ '}}' }};
            {{ '{{' }} end {{ '}}' }}
          {{ '{{' }} end {{ '}}' }}
        {{ '{{' }} else {{ '}}' }}
          server 127.0.0.1:65535;
        {{ '{{' }} end {{ '}}' }}
      }
  loop: "{{ services }}"

- name: Add consul-template location file
  copy:
    dest: "/opt/consul-template/templates/{{ item.upstream_name }}-nginx-upstream-location.ctmpl"
    content: |
      location /{{ item.upstream_location_name }}/ {
          proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
          proxy_set_header Host $http_host;
          proxy_redirect off;
          proxy_pass http://{{ item.upstream_name }}_upstream/;
          access_log /var/log/nginx/upstream.log upstream_log;
      }
  loop: "{{ services }}"


# - name: Debug available groups
#   debug:
#     var: groups.keys()


- name: Set Consul server IP
  set_fact:
    consul_server_ip: "{{ hostvars[groups[consul_server_group][0]].ansible_host }}"
  when:
    - consul_server_group is defined
    - groups[consul_server_group] is defined
    - groups[consul_server_group] | length > 0


- name: Generate consul-template config for every service
  copy:
    dest: /opt/consul-template/config/config.hcl
    content: |
      consul {
        address = "http://{{ consul_server_ip }}:8500"
      }
      
      {%- for svc in services %}
      template {
        source      = "/consul-template/templates/{% if svc.canary_enabled | default(false) %}{{ svc.upstream_name }}-nginx-ip-upstream.ctmpl{% else %}{{ consul_dns_for_upstream | ternary(svc.upstream_name + '-nginx-dns-upstream.ctmpl', svc.upstream_name + '-nginx-ip-upstream.ctmpl') }}"
      
        destination = "/consul-template/output/{{ svc.upstream_name }}-upstream.conf"
        command     = "{{ consul_template_reload_command }}"
        perms       = 0644

        wait {
          min = "2s"
          max = "10s"
        }
      }
      template {
        source      = "/consul-template/templates/{{ svc.upstream_name }}-nginx-upstream-location.ctmpl"
        destination = "/consul-template/output/{{ svc.upstream_location_name }}-upstream-location.conf"
        command     = "{{ consul_template_reload_command }}"
        perms       = 0644

        wait {
          min = "2s"
          max = "10s"
        }
      }
      {%- endfor %}


- name: Wait for Consul server to become available
  wait_for:
    host: "{{ consul_server_ip }}"
    port: 8500
    timeout: 100


- name: Start consul-template in Docker
  docker_container:
    name: consul_template
    image: arkselen/consul-template:{{ consul_template_version }}
    state: started
    restart_policy: always
    recreate: yes
    user: "0:0"
    command: >
      -config=/consul-template/config/config.hcl
    volumes:
      - /opt/consul-template/templates:/consul-template/templates
      - /opt/consul-template/output:/consul-template/output
      - /opt/consul-template/config:/consul-template/config
      - /var/run/docker.sock:/var/run/docker.sock
    network_mode: host
