---
- name: Create consul-template directories
  file:
    path: "{{ item }}"
    state: directory
    owner: root
    group: root
    mode: '0755'
  loop:
    - /opt/consul-template/config
    - /opt/consul-template/templates
    - /opt/consul-template/output

- name: Set fact for service
  set_fact:
    service: "{{ service }}"


# - name: Add consul-template template file
#   copy:
#     dest: /opt/consul-template/templates/nginx-upstream.ctmpl
#     content: |
#       upstream {{ service }}_upstream {
#         {{ '{{' }} range service "{{ service }}" {{ '}}' }}
#           server {{ '{{' }} .Address {{ '}}' }}:{{ '{{' }} .Port {{ '}}' }};
#         {{ '{{' }} end {{ '}}' }}
#       }

- name: Add consul-template template file
  copy:
    dest: /opt/consul-template/templates/nginx-upstream.ctmpl
    content: |
      {{ '{{' }} $svc := service "{{ service }}" {{ '}}' }}
      upstream {{ service }}_upstream {
        {{ '{{' }} if gt (len $svc) 0 {{ '}}' }}
          {{ '{{' }} range $svc {{ '}}' }}
            server {{ '{{' }} .Address {{ '}}' }}:{{ '{{' }} .Port {{ '}}' }};
          {{ '{{' }} end {{ '}}' }}
        {{ '{{' }} else {{ '}}' }}
            server 127.0.0.1:65535; # dummy fallback
        {{ '{{' }} end {{ '}}' }}
      }


- name: Find Consul server group
  set_fact:
    consul_server_group: "{{ groups.keys() | select('search', 'service_consul_server') | select('search', env) | list | first }}"

- name: Set Consul server IP
  set_fact:
    consul_server_ip: "{{ hostvars[groups[consul_server_group][0]].ansible_host }}"
  when:
    - consul_server_group is defined
    - groups[consul_server_group] is defined
    - groups[consul_server_group] | length > 0

- name: Add consul-template config file
  copy:
    dest: /opt/consul-template/config/config.hcl
    content: |
      consul {
        address = "http://{{ consul_server_ip }}:8500"
      }

      template {
        source      = "/consul-template/templates/nginx-upstream.ctmpl"
        destination = "{{ consul_template_output_path }}"
        command     = "{{ consul_template_reload_command }}"
        perms       = 0644

        wait {
          min = "2s"
          max = "10s"
        }
      }

- name: Wait for Consul server to become available
  wait_for:
    host: "{{ consul_server_ip }}"
    port: 8500
    timeout: 20


- name: Start consul-template in Docker
  docker_container:
    name: consul_template
    image: arkselen/consul-template:{{ consul_template_version }}
    state: started
    restart_policy: always
    user: "0:0"
    command: >
      -config=/consul-template/config/config.hcl
    volumes:
      - /opt/consul-template/templates:/consul-template/templates
      - /opt/consul-template/output:/consul-template/output
      - /opt/consul-template/config:/consul-template/config
      - /var/run/docker.sock:/var/run/docker.sock
    network_mode: host
