- name: Deploy fastapi backend
  hosts: all
  become: true
  vars:
    consul_server_group: env_dev__app_loadbalance__service_nginx # where consul_server is located
  roles:
    - docker_install
    - consul_agent
    - fastapi