# dependencies:
#   - app: infra
#     service: consul_server
#     wait: false
#     # path: "../../../consul_server/" # use path if no service for this


- name: Deploy fastapi backend
  hosts: all
  become: true
  vars:
    consul_server_group: env_dev__app_infra__service_consul_server # where consul_server is located
  roles:
    - docker_install
    - consul_agent
    - fastapi