- name: Allow talking between service directly by consul-dns without nginx upstreams
  block:

      - name: Install dnsmasq
        apt:
          name: dnsmasq
          state: present
          update_cache: yes
      
      - name: Ensure the systemd resolved config directory exists
        file:
          path: /etc/systemd/resolved.conf.d
          state: directory
          mode: '0755'

      - name: Configure dnsmasq for Consul and fallback yandex resolver(10.10.2.2)
        copy:
          dest: /etc/dnsmasq.d/consul
          content: |
            server=/service.consul/127.0.0.1#8600
            server=10.10.2.2
            listen-address=127.0.0.1
            bind-interfaces
            no-resolv
            log-queries
            log-facility=/var/log/dnsmasq.log

      - name: Restart dnsmasq
        systemd:
          name: dnsmasq
          state: restarted
          enabled: true

      - name: Configure systemd-resolved for Consul domain
        copy:
          dest: /etc/systemd/resolved.conf.d/consul.conf
          content: |
            [Resolve]
            DNS=127.0.0.1
            Domains=~service.consul

      - name: Restart systemd-resolved
        systemd:
          name: systemd-resolved
          state: restarted
