* {
  box-sizing: border-box;
}

body {
  font-family: "YS Text", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
  margin: 0;
  height: 100vh;
}

a {
  text-decoration: none;
  color: rgb(67, 222, 47);
}

ul {
  list-style-type: none;
  padding: 0;
}

.box {
  border: 1px solid #ffa94d;
  border-radius: 5px;
  background-color: #ffd8a8;
  padding: 1em;
  color: #d9480f;
}
.box-shadow {
  /* box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15); */
  transition: box-shadow 0.15s ease-in-out;
}
.box-shadow:hover {
  box-shadow: 0 8px 12px 0 var(--color-component-shadow-opacity-8, #00000014), 0 0 8px 0 var(--color-component-shadow-opacity-4, #0000000a), 0 4px 12px 0 var(--color-component-shadow-opacity-8, #00000014);
}

#app {
  background-color: #fff4e6;
  border-radius: 5px;
  height: 100vh;
  min-width: 320px;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 5fr));
  /* grid-auto-rows: 100px; */
  grid-template:
    "hd-top hd-top hd-top hd-top hd-top" 45px
    "hd-bot hd-bot hd-bot hd-bot hd-bot" 55px
    "main   main   main   main   main  " 1fr
    "ft     ft     ft     ft     ft    ";
}

.header-top,
.header-bot {
  background-color: #ffffff;
  color: #8593a5;

  display: flex;
  align-items: center;
}

.header-top {
  grid-area: hd-top;

  font-size: 17px;
  font-weight: 500;
  box-shadow: inset 0 -1px 0 #e5e5e5;

  z-index: 1;
}

.header-top .item {
  cursor: pointer;
  transition: background-color 0.32s ease-in-out, color 0.32s ease-in-out;

  padding: 0 15px;

  display: flex;
  gap: 8px;
  align-items: center;
}

.header-top .item:hover {
  background-color: rgba(224, 83, 14, 0.1);
  color: #0e7ae0;
}

.header-bot {
  grid-area: hd-bot;
  z-index: 2;
  padding-bottom: 12px;
}

.header-bot .item {
  cursor: pointer;
  /* transition: background-color 0.32s ease-in-out, color 0.32s ease-in-out; */

  padding: 0 15px;

  display: flex;
  gap: 8px;
  align-items: center;
}

.main {
  grid-area: main;

  display: flex;
  flex-direction: column;
  padding: 0 32px;
  padding-bottom: 20px;
  background-color: #f2f4f6;
  /* background-color: #ffffff; */
}

.main-top,
.main-bot {
  max-width: 1192px;
  width: 100%;
  margin: 0 auto;
}

.main-top {
  grid-area: ma-top;
}
.main-bot {
  grid-area: ma-bot;
}

.estates {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 12px;
}

.card {
  min-width: 100%;
  min-height: 250px;
  background-color: #ffffff;
  border-radius: 20px;

  cursor: pointer;
}

footer {
  grid-area: ft;

  background-color: #ffffff;
  color: #738295;
  padding: 20px 34px;
  min-height: 200px;
  min-width: 360px;
  max-width: 1280px;
}

.popup {
  display: none;
  position: absolute;

  top: 100%;
  left: 0;
  width: 342px;
  height: 170px;
  padding: 0 16px 24px 16px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 8px 0 var(--color-component-shadow-opacity-8, rgba(0, 0, 0, 0.08)), 0 2px 12px 0 var(--color-component-shadow-opacity-8, rgba(0, 0, 0, 0.08));
  color: #333;
  font-size: 14px;
  z-index: 1000;
}

.content {
  display: flex;
  flex-direction: column;
  /* gap: 5px; */
}

.popup-close {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  padding: 10px 0 0 0;
  color: #8593a5;
}

.popup-title {
  font: 600 20px / 28px "SBSansDisplay", sans-serif;
  color: #262626;
  line-height: 1.3;
  margin: 0;
}

.popup-highlight {
  font: 600 20px/28px "SBSansDisplay", sans-serif;
  background-image: linear-gradient(133.28deg, #6bbd3f 10.67%, #209a73 55.57%, #0276a2 83.11%);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}

.popup-note {
  font: 400 14px/20px SBSans, sans-serif;
  color: #737476;
  margin-top: 8px;
}

.popup-note a {
  color: #007bff;
}
