# skip: true
---
- name: Deploy Monitoring Stack
  hosts: all
  become: true  
  roles:
    - docker_install
    - docker_compose
    - role: consul_agent                                            # 1) install agent to setup dns-name for dynamic discovery
      vars:
        consul_server_group: "env_dev__app_home__service_nginx"     # for consul client to find out where consul_server is located
        consul_service_port: 3000
        consul_check_http: "http://localhost:{{ consul_service_port }}/api/health"
    - consul_dns_enable                                             # for promtail to see loki + for prometheus to see node-exporters + for vmagent to see prometheus
    - role: monitoring
      vars:
        enable_promtail: true
        enable_node_exporter: true
        enable_vmagent: true
        enable_prometheus: true
        enable_loki: true
        enable_grafana: true
