consul_version: "1.21.1"
consul_service_name: "{{ service | default('fastapi') }}"
consul_service_port: 8000
consul_service_tags: ["env={{ env }}", "app={{ app }}", "service={{ service }}"]
consul_check_http: "http://localhost:{{ consul_service_port }}/health"
consul_check_interval: "10s"