consul_version: "1.21.1"
consul_service_name: "{{ service }}"
consul_service_port: 8500
consul_service_tags: ["env={{ env }}", "app={{ app }}", "service={{ service }}"]
consul_check_http: "http://localhost:{{ consul_service_port }}/v1/agent/self"
consul_check_interval: "10s"





# 1) When the role "consul_agent" is used with role "fastapi", then use <<<consul_service_port: 8000>>> and /health, cause role "consul_nginx_configure" create upstream to fastapi services based on service's promtail.yml
# >>>>>>
# roles:
#     - role: consul_agent
#       vars:
#         consul_service_port: 8000                                                             # uvocorn/fastapi port instead of consul
#         consul_check_http: "http://localhost:{{ consul_service_port }}/health"
#     - fastapi
#....
# 2) In other cases like "monitoring" where you just need dns, use default 8500 consul port
